@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #333333;
}
.container{
    max-width: 1160px !important;
}

p{
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}
a {
    color: #b52600 !important;
    font-weight: 700;
}

.nav-item > a {
    font-family: 'Inter', sans-serif;
    font-weight: 400 !important;
    color: #333 !important;
}