{{ define "main" }}
<h2 style="text-align:center;margin-bottom:40px;">Ideas Without Noise</h2>

<!-- Subscription Form -->
<div class="home-subscribe" style="max-width: 480px;margin: 20px auto;border: 1px solid #ddd;padding: 3% 5%;background:#f8f8f8">
{{ partial "subscribe2" . }}
</div>
<!-- Subscription Form ends-->
<br>
<p style="text-align:center;margin: 20px auto;">RECENT ARTICLES</p>


<div class="row">
{{ range first 5 (where .Site.RegularPages "Section" "==" "blog")}}
<div class="col-md-4" style="margin-bottom: 20px;">
  <h3><a style="text-align: center !important;" class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
 <p style="font-family: 'Inter'; color: #808080">{{ partial "metadata.html" . }}</p> 
  <p >{{ .Summary | truncate 200 }}</p>
  <!-- <a  href="{{ .RelPermalink }}" style="font-weight: 400;text-decoration: underline;">
    Continue Reading...
  </a> -->
</div>

{{ end }}
</div>


<!-- <hr> -->
{{ end }}